<div class="header">
  <h2>Thanks for the vote!</h2>
</div>
<div class="row">
  <div class="column side"></div>
  <div class="column middle">

    <div class="choice_card">
      <%= link_to "Vote again", root_path %>
    </div>
  </div>
  <div class="column side"></div>
</div>
